section.reasons-section
  .wrapper
    .reasons-section__container
      img.reasons-section__img(src="images/reasons-section-img.png" loading="lazy" width="251" height="189" alt="image")
      .reasons-section__part.part почему мы
      .reasons-section__box
        h2.reasons-section__title.font-s-46.text-up
          | Почему 
          span.font-w-medium.color-violet «INFUTURE»
        .reasons-section__sub-title.font-w-regular.font-s-22-a
          span.color-violet 6 причин 
          | стать нашим 
          br.no-br
          | партнёром
      .swiper-bullet
        .reasons-section__cards.swiper-wrapper
          .reasons-section__card.swiper-slide
            .reasons-section__card-icon-wrapper
              img.reasons-section__card-icon(src="images/reasons-section-card-icon-1.svg" loading="lazy" width="20" height="20" alt="icon")
            .reasons-section__card-title.font-w-regular.font-s-22-b Высокий спрос
            .font-s-16
              | 25 млн+ жителей России уже 
              br.no-br
              | пользуются техникой Apple 
              br.no-br
              | и эта цифра непрерывно растет, 
              br.no-br
              | поэтому вы всегда будете 
              br.no-br
              | обеспечены клиентами.
          .reasons-section__card.swiper-slide
            .reasons-section__card-icon-wrapper
              img.reasons-section__card-icon(src="images/reasons-section-card-icon-2.svg" loading="lazy" width="20" height="20" alt="icon")
            .reasons-section__card-title.font-w-regular.font-s-22-b Ликвидный товар
            .font-s-16
              | Вы будете заниматься 
              br.no-br
              | продажей только ликвидного 
              br.no-br
              | и маржинального товара, 
              br.no-br
              | поэтому будете работать 
              br.no-br
              | без убытков.
          .reasons-section__card.swiper-slide
            .reasons-section__card-icon-wrapper
              img.reasons-section__card-icon(src="images/reasons-section-card-icon-3.svg" loading="lazy" width="20" height="20" alt="icon")
            .reasons-section__card-title.font-w-regular.font-s-22-b Сильный маркетинг
            .font-s-16
              | Мы передадим вам проверенные 
              br.no-br
              | маркетинговые инструменты 
              br.no-br
              | франшизы и поможем легко 
              br.no-br
              | выделиться среди конкурентов.
          .reasons-section__card.swiper-slide
            .reasons-section__card-icon-wrapper
              img.reasons-section__card-icon(src="images/reasons-section-card-icon-4.svg" loading="lazy" width="20" height="20" alt="icon")
            .reasons-section__card-title.font-w-regular.font-s-22-b Лёгкий старт
            .font-s-16
              | Предоставим вам готовый план 
              br.no-br
              | запуска магазина и поможем 
              br.no-br
              | организовать абсолютно все 
              br.no-br
              | процессы бизнеса всего 
              br.no-br
              | за 2 месяца.
          .reasons-section__card.swiper-slide
            .reasons-section__card-icon-wrapper
              img.reasons-section__card-icon(src="images/reasons-section-card-icon-5.svg" loading="lazy" width="20" height="20" alt="icon")
            .reasons-section__card-title.font-w-regular.font-s-22-b Опытные партнёры
            .font-s-16
              | Наша команда уже более 5-ти 
              br.no-br
              | лет на рынке, поэтому мы легко 
              br.no-br
              | сможем уберечь вас от 
              br.no-br
              | возможных ошибок новичков.
          .reasons-section__card.swiper-slide
            .reasons-section__card-icon-wrapper
              img.reasons-section__card-icon(src="images/reasons-section-card-icon-6.svg" loading="lazy" width="20" height="20" alt="icon")
            .reasons-section__card-title.font-w-regular.font-s-22-b Бизнес-модель
            .font-s-16
              | Мы на практике убедились 
              br.no-br
              | в эффективности нашей 
              br.no-br
              | стратегии развития и с радостью 
              br.no-br
              | передадим вам нашу рабочую 
              br.no-br
              | бизнес-модель.
        .bullet-pagination
    .reasons-section__bottom
      .font-w-regular.font-s-28-a
        span.font-w-medium.color-violet Скачайте договор, 
        | в котором описаны 
        br.no-br
        | наши обязанности и все условия сотрудничества
      button.btn.reasons-section__btn(data-remodal-target="modal-form-agreement") Скачать
